# Ignore the .env file 
.env

# Ignore the ipynb_checkpoints file
.ipynb_checkpoints

# Ignore the .vscode file
.vscode

# Ignore the .idea file
.idea

# Ignore the .venv file
.venv

# Ignore the chat_histories folder
chat_histories

# Ignore the .gradio folder
.gradio

# Ignore the .langchain folder
.langchain

# Ignore the .next folder
.next

# Ignore the .next/types folder
.next/types

# Ignore the .next/cache folder
.next/cache

# Ignore the .next/build folder
.next/build

# Ignore the .next/standalone folder
.next/standalone

# Ignore the node modules folder
frontend/node_modules
